---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
console.log(articles)
---

<BaseLayout title="Articles">
  <main class="flow" style="max-width: 60rem; margin: 12vh auto 0; padding: 0 1.5rem;">
    <h1>Articles</h1>
    <p>Writing notes and longer essays.</p>
    <ul class="flow" style="list-style: none; padding: 0;">
      {articles.map((article) => (
        <li>
          <a href={`/articles/${article.id}/`}>{article.data.title}</a>
        </li>
      ))}
    </ul>
  </main>
</BaseLayout>
