
h1, h2, h3, h4 {
  font-family: var(--font-display, sans-serif);
  font-weight: var(--font-display-weight, bold);
}
h1 {
  font-size: var(--s4);
}
h2 {
  font-size: var(--s3);
}
h3 {
  font-size: var(--s2);
}
h4 {
  font-size: var(--s1);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
}

a:hover,
a:focus-visible {
  color: var(--color-accent);
  text-decoration-color: var(--color-accent);
}

mark {
  padding: var(--s-5) var(--s-4);
  background-color: var(--color-accent);
  color: #fff;
}

blockquote {
  border-inline: var(--callout-border-width) solid var(--color-border);
  padding-inline: var(--callout-padding);
  margin-inline: 0;
  color: var(--color-ink);
  font-style: italic;
}

pre,
code {
  font-family: var(--font-mono, monospace);
  max-inline-size: 100%;
}

code:not(pre code) {
  padding: var(--s-5) var(--s-4);
  border-radius: var(--border-radius);
  background-color: var(--color-inline-code-bg, var(--color-bg));
}

.astro-code {
  padding: var(--s-5) var(--s-4);
  border-radius: var(--border-radius);
  overflow: auto;
}

article {
  padding-inline: var(--s-1);
  inline-size: var(--measure);
  max-inline-size: 100vw;
}

article h1 {
  margin-block-start: 0;
}

img {
  margin: 0 auto;
}
