
h1, h2, h3, h4 {
  font-family: var(--font-display, sans-serif);
  font-weight: var(--font-display-weight, bold);
}
h1 {
  font-size: var(--s4);
}
h2 {
  font-size: var(--s3);
}
h3 {
  font-size: var(--s2);
}
h4 {
  font-size: var(--s1);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
}

a:hover,
a:focus-visible {
  color: var(--color-accent);
  text-decoration-color: var(--color-accent);
}
a:visited {
  color: inherit;
  text-decoration-color: var(--color-accent-muted);
}

a[data-footnote-ref] {
  font-family: var(--font-mono);
  padding: 0 var(--s-5);
}

strong {
  color: var(--color-accent-strong, var(--color-accent));
}

mark {
  padding: var(--s-5) var(--s-4);
  background-color: var(--color-accent);
  color: #fff;
}

blockquote {
  border-inline-start: var(--callout-border-width) solid var(--color-border);
  padding-inline-start: var(--callout-padding);
  padding-inline-end: calc(var(--callout-padding) + var(--callout-border-width));
  margin-inline: 0;
  color: var(--color-ink);
  font-style: italic;
}

code {
  font-family: var(--font-mono, monospace);
  max-inline-size: 100%;
}

code:not(pre code) {
  padding: var(--s-5) var(--s-4);
  border-radius: var(--border-radius);
  background-color: var(--color-inline-code-bg, var(--color-bg));
}

.astro-code {
  padding: var(--s-5) var(--s-4);
  border-radius: var(--border-radius);
  overflow: auto;
}

article {
  padding-inline: var(--s-1);
  inline-size: var(--measure);
  max-inline-size: 100vw;
}

article h1 {
  margin-block-start: 0;
}

img {
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  inline-size: 100%;
  max-inline-size: 100%;
}

th,
td {
  padding: var(--s-3) var(--s-1);
  text-align: start;
}

th:first-child, td:first-child {
  padding-left: 0;
}
th:last-child, td:last-child {
  padding-right: 0;
}

th {
  font-family: var(--font-display, sans-serif);
  font-weight: normal;
  color: var(--color-accent-strong)
}

tr + tr {
  border-block-start: var(--border-width, 1px) solid var(--color-border);
}
thead tr {
  border-block-end: var(--border-width, 1px) solid var(--color-border-strong, var(--color-accent-strong));
}

