@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  color-scheme: dark;
  --font-display: 'Roboto Condensed', sans-serif;
  --font-display-weight: 300;
  --font-body: Georgia, Times, "Times New Roman", serif;
  --font-mono: 'Anonymous Pro', monaco, Consolas, monospace;

  --color-bg: hsla(237, 34%, 12%, 1);
  --color-ink: hsla(53, 100%, 96%, 1);
  --color-ink-muted: hsla(212, 20%, 46%, 1);
  --color-border: hsla(212, 20%, 46%, 1);
  --color-accent: hsla(202, 100%, 33%, 1);
  --color-accent-strong: hsla(346, 100%, 65%, 1);

  --measure: 60ch;

  --calculated-font-size: calc(1rem + 0.6vw);

  --spacing-ratio: 1.4;

  --callout-note-color: var(--color-accent);
  --callout-tip-color: var(--color-accent-strong);
  --callout-tldr-color: var(--color-accent);
  --callout-info-color: hsl(131, 99%, 37%);
  --callout-todo-color: var(--color-accent-strong);
}

[data-theme="light"] {
  color-scheme: light;
  --color-bg: hsla(53, 100%, 96%, 1);
  --color-ink: hsla(237, 34%, 12%, 1);
  --color-ink-muted: hsla(212, 20%, 46%, 1);
  --color-border: hsla(212, 20%, 46%, 1);
  --color-accent: hsla(202, 100%, 33%, 1);
  --color-accent-strong: hsla(346, 100%, 65%, 1);

  --callout-note-color: var(--color-accent);
  --callout-tip-color: var(--color-accent-strong);
  --callout-tldr-color: var(--color-accent);
  --callout-info-color: hsl(131, 99%, 37%);
  --callout-todo-color: var(--color-accent-strong);
}
