:root {
  color-scheme: dark;
  --font-display: var(--font-smooch-sans);
  --font-display-weight: 500;
  --font-body: var(--font-baskervville);
  --font-mono: var(--font-anonymous-pro);

  --color-bg: #141529;
  --color-ink: #fffdeb;
  --color-ink-muted: #5e748d;
  --color-link: #00a2ff;
  --color-link-muted: #006ba8;
  --color-link-strong: #ff4d76;
  --color-accent: #CBA96B;
  --color-accent-2: #2FAF9F;
  --color-inline-code-bg: #262335;

  --measure: 66ch;

  --calculated-font-size: calc(1rem + 0.6vw);

  --spacing-ratio: 1.4;

  --border-radius: var(--s-5);
  --color-border: var(--color-ink-muted);
  
  --callout-border-width: var(--s-5);
  --callout-padding: var(--s-2);

  --callout-note-color: var(--color-link);
  --callout-info-color: var(--color-accent);
  --callout-tldr-color: var(--color-accent-2);
  --callout-warning-color: var(--color-link-strong);
  --callout-tip-color: var(--color-link-strong);
  --callout-todo-color: var(--color-link-strong);
}

[data-theme="light"] {
  color-scheme: light;
  --color-bg: #fffdeb;
  --color-ink: #141529;
  --color-inline-code-bg: #f9f5d7;
}
