:root {
  color-scheme: dark;
  --font-display: var(--font-smooch-sans);
  --font-display-weight: 550;
  --font-body: var(--font-baskervville);
  --font-mono: var(--font-anonymous-pro);

  --color-bg: hsla(237, 34%, 12%, 1);
  --color-ink: hsla(53, 100%, 96%, 1);
  --color-ink-muted: hsla(212, 20%, 46%, 1);
  --color-border: hsla(212, 20%, 46%, 1);
  --color-accent: hsl(202, 100%, 50%);
  --color-accent-muted: hsla(202, 100%, 33%, 1);
  --color-accent-strong: hsla(346, 100%, 65%, 1);
  --color-inline-code-bg: #262335;

  --measure: 66ch;

  --calculated-font-size: calc(1rem + 0.6vw);

  --spacing-ratio: 1.4;

  --border-radius: var(--s-5);

  --callout-border-width: var(--s-5);
  --callout-padding: var(--s-2);

  --callout-note-color: var(--color-accent);
  --callout-tip-color: var(--color-accent-strong);
  --callout-tldr-color: var(--color-accent-muted);
  --callout-info-color: hsl(131, 100%, 37%);
  --callout-todo-color: var(--color-accent-strong);
}

[data-theme="light"] {
  color-scheme: light;
  --color-bg: hsla(53, 100%, 96%, 1);
  --color-ink: hsla(237, 34%, 12%, 1);
  --color-inline-code-bg: #f9f5d7;
}
