---
import PageLayout from "~/layouts/PageLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const articles = await getCollection("misc");
  return articles.map((article) => ({
    params: { slug: article.id },
    props: { article }
  }));
}

const { article } = Astro.props;
const { Content } = await render(article);

---

<PageLayout title={article.data.title}>
  <main class="the-center">
    <article class="flow">
      <Content />
    </article>
  </main>
</PageLayout>

