---
import { Font } from "astro:assets";

import BaseLayout from "./BaseLayout.astro";

import "~/styles/page.css";
import "~/styles/callouts.css";

import Footer from "~/components/Footer.astro";
import TopNavBar from "~/components/TopNavBar.astro";
import MainMenu from "~/components/MainMenu.astro";
import Logo from "~/components/Logo.astro";

const { title = "Astro" } = Astro.props;
---

<BaseLayout title={title}>
  <Font cssVariable="--font-baskervville" />
  <Font cssVariable="--font-smooch-sans" />
  <TopNavBar />
  <slot />
  <Footer class="footer-main-menu">
    <MainMenu aria-label="Footer menu" />
  </Footer>
  <Footer class="copyright">
    <div>
      &copy; {new Date().getFullYear()} ajur.pl Adam Jurczyk.
      All rights reserved.
    </div>
    <Logo />
  </Footer>
</BaseLayout>
<style>
  .footer-main-menu {
    font-size: var(--s-1);
    display: flex;
    justify-content: center;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--s0);
    font-size: var(--s-1);
    color: var(--color-ink-muted);
  }
</style>